body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header{
	position: fixed;
	background: #243342;
	padding: 20px;
	width: 100%;
	height: 30px;
}
.left h3{
	color:white;
	margin: 0;
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 27px;
	font-weight: 900;
}
.left span{
	color: #00b3b3;
}
h2{
	color:#34495e;
	margin:20px;
	margin-left:290px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 250;
}
.logout{
	padding: 8px;
	background: #34495e;
	text-decoration: none;
	float: right;
	margin-top: -40px;
	margin-right: 70px;
	border-radius: 2px;
	font-size: 17px;
	font-weight: 600;
	color: #fff;
}
.notification{
	float: right;
	margin-top: -32px;
	margin-right: 210px;
	font-size: 20px;
	color: #fff;
}
.logout:hover{
	background: #ccc;
}
.sidenav{
	background: #34495e;
	margin-top: 70px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 230px;
	height: 100%;
}
.sidenav img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-top: 0;
}
.sidenav h4{
	color: #ccc;
	margin-top: 6px;
	margin-bottom: 6px;
}
.sidenav a{
	color: #fff;
	display: block;
	width: 100%;
	line-height: 48px;
	text-decoration: none;
	padding-left: 30px;
	box-sizing: border-box;
	transition: 0.5s;
}
.sidenav a:hover{
	background: #243342;
}
.sidenav i{
	padding-right: 15px;
}

  
	table.cruises tbody{ 
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    cellspacing: 0; 
	width: 99.9%; 
	overflow-y:auto;
}
	
  table.cruises th, table.cruises td {
	border:2px solid #34495e;
	table-layout: fixed; 
	padding: 10px;	  
    width: 20%;
	margin-left:20rem;
	margin top:50rem;
}
 
  div.scrollableContainer { 
	position: relative; 
	align:center;
    width: 60%; 
    margin-left:20rem;	
    border: 1px solid #999;
}

  div.scrollingArea { 
    width: 100%;
    height: 260px; 
    overflow: auto; 
}
  table.scrollable thead th tr{
    left: 0; top: 0;
    position: fixed;
    width: auto;
	display:block;
	border:2px solid #34495e;
	table-layout: fixed; 
	padding: 10px;
	 
}
	 table.scrollable th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
	background:white;
}
	table.scrollable tfoot,
	.scrollable tfoot tr,
	.scrollable tfoot td{
	position: -webkit-sticky;
	position: sticky;
	bottom: -30;
	z-index:5;
	width: auto;
}

	table.cruises .ProductId   		{ width: 10%; text-align:center;}
	table.cruises .ProductName		{ width: 10%; text-align:center;}
	table.cruises .Catagory    		{ width: 10%; text-align:center;}
	table.cruises .UnitPrice  		{ width: 10%; text-align:center;}
	table.cruises .UnitCost   	    { width: 10%; text-align:center;}
	table.cruises .QuantitySold   	{ width: 20%; text-align:center;}
	table.cruises .QuantityRemaining{ width: 20%; text-align:center;}  




	table.cruises1 tbody{ 
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    cellspacing: 0; 
	width: 99.9%; 
	overflow-y:auto;
		
}
	
	table.cruises1 th, table.cruises1 td {
	border:2px solid #34495e;
	table-layout: fixed; 
	padding: 10px;	  
    width: 20%;
	margin-left:20rem;
	margin top:50rem;
}
 

	div.scrollableContainer1 { 
	position: relative; 
	align:center;
    width: 60%; 
    margin-left:20rem;	
    border: 1px solid #999;
}
	
	div.scrollingArea1 { 
    width: 100%;
    height: 260px; 
    overflow: auto; 
}
	
	table.scrollable1 thead th tr{
    left: 0; top: 0;
    position: fixed;
    width: auto;
	display:block;
	border:2px solid #34495e;
	table-layout: fixed; 
	padding: 10px;
}
	 
	table.scrollable1 th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
	background:white;
}

	table.scrollable1 tfoot,
	.scrollable1 tfoot tr,
	.scrollable1 tfoot td{
	position: -webkit-sticky;
	position: sticky;
	bottom: -25;
	z-index:5;
	width: auto;
}
	
	table.cruises1 .TransactionId   { width: 10%; text-align:center;}
	table.cruises1 .CustomerId		{ width: 10%; text-align:center;}
	table.cruises1 .Date  			{ width: 10%; text-align:center;}
	table.cruises1 .Amount 			{ width: 10%; text-align:center;}
	table.cruises1 .PaymentType   	{ width: 10%; text-align:center;}
	table.cruises1 .Account  		{ width: 20%; text-align:center;}
	table.cruises1 .Status  		{ width: 20%; text-align:center;}  
	
	

	#invdownloadBtn{
	border:1;
	width:200px;
	background:black;
	color:white;
	padding:.25rem;
	margin:1rem 0;
	cursor:pointer;
}
	
	#invdownloadBtn:hover{
	background: #34495e;
}
	
	#transdownloadBtn{
	border:1;
	width:200px;
	background:black;
	color:white;
	padding:.4rem;
	margin:0.25rem 0;
	cursor:pointer;
}
	
	#transdownloadBtn:hover{
	background: #34495e;
}